.quiz-{

	&button{
		outline: 0;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		width: 100%;
		height: 10%;
		font-size: 2em;
		border: none;
		border-top: 3px solid $three;
		background: $two;
		color: white;

		@include transition (0.2s);

			&:active {
				border-top-color: #ffffff;
				background: #ffffff;
				color: $two;
				@include transition (0.2s)
			}
		}	


}

