
.quiz-button{

	display: block;
	height: 25%;
	outline: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
	font-size: 2em;
	border: none;
	background: #4AC675;
	color: white;
	@include transition (0.2s);

		&:active {
			border-top-color: #ffffff;
			background: #ffffff;
			color: #4AC675;
			@include transition (0.2s)
		}


}


.menu-button{
	float: right;
	width: 15%;
	height: 50px;
	background: $one;
	background-image: url(../images/menu.svg);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	
}