.iphone_1{
	height:670px;
	min-width: 400px;
	background-image: url(../../../assets/images/iphone_1.png);
	background-size: 450px;
	background-repeat: no-repeat;
	background-position: center top; 

		@media only screen and (max-width:$medium){
			background-size: 350px;
		}

		
		@media only screen and (max-width:$small){
			min-width: 0;
			background-size: 300px;
			height: 440px;
		}
}

.iphone_2{
	height:670px;
	min-width: 400px;
	background-image: url(../../../assets/images/iphone_2.png);
	background-size: 470px;
	background-repeat: no-repeat;
	background-position: center top; 

		@media only screen and (max-width:$medium){
			background-size: 350px;
			height: 500px;
		}

		@media only screen and (max-width:$small){
			min-width: 0;
			background-size: 310px;
			height: 440px;
		}
}