
.quiz-{

	&score{
		position: fixed;
		color: white;
		z-index: 999;
		font-size: 1.5em;
		padding: 5px 5px 5px 10px;
	}

	&question{
		color: white;
		width: 50%;
		float: left;

		background: $one;
		font-size: 4em;
		border-top: 10px solid #64C7E5;
		vertical-align: middle;
		padding: 50px 0 50px 0;
		text-align: center;
	}

	&stats{
		color: white;
		width: 50%;
		float: left;
		background: $one;
		font-size: 4em;
		border-top: 10px solid $one;
		vertical-align: middle;
		padding: 50px 0 50px 0;
		text-align: center;		
	}

}


.gloss{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(../images/gloss.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	pointer-events: none;
	opacity: 0.1;
}

