.quiz-timer{

    position: fixed;
	width: 85%;
	height: 50px;
	background: #4AC675;
    -webkit-animation: myfirst 5s infinite linear; /* Chrome, Safari, Opera */

    &-base{
    	position: fixed;
		width: 85%;
		height: 60px;
		background: #d0eef7;
		border-bottom: 10px solid #64C7E5;
    }
}

@-webkit-keyframes myfirst {
  0% { width: 85%;}
  30%{ background-color: #4AC675;}	 
  100% { width: 0%;}
}



// .seperator-{
// 	&one{
// 		position: relative;
// 		width:85%;
// 		height: 10px;
// 		background: #64C7E5;
// 		bottom: 0;
// 	}

// }