@font-face{ 
	font-family: 'reg'; 
	src: url('../fonts/agnextregular-webfont.eot');
	src: url('../fonts/agnextregular-webfont.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/agnextregular-webfont.woff') format('woff'), 
	url('../fonts/agnextregular-webfont.ttf') format('truetype'), 
	url('../fonts/agnextregular-webfont.svg#akzidenz-grotesk_next_regulRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'light';
    src: url('../fonts/agnextlight-webfont.eot');
    src: url('../fonts/agnextlight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/agnextlight-webfont.woff') format('woff'),
	url('../fonts/agnextlight-webfont.ttf') format('truetype'),
	url('../fonts/agnextlight-webfont.svg#akzidenz-grotesk_nextlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mid';
    src: url('../fonts/agnextmedium-webfont.eot');
    src: url('../fonts/agnextmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agnextmedium-webfont.woff2') format('woff2'),
         url('../fonts/agnextmedium-webfont.woff') format('woff'),
         url('../fonts/agnextmedium-webfont.ttf') format('truetype'),
         url('../fonts/agnextmedium-webfont.svg#akzidenz-grotesk_nextmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Colours
$blue: #00A3D4;
$green1: #4AC675;
$green2: #3DB968;
$green3: #31AD5C;
$green4: #24a04f;

// Media Queries
$small: 800px;
$medium: 950px;


