*,
*:before,
*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
  padding: 0;
  margin: 0;
}

body{
    position: fixed;
    background-color: $blue;
    width: 100%;
    height: 100%;
    font-family: 'mid'; 
    overflow: hidden;

}

p{
	font-size: 10px;
}

.last{
  margin-right: 0!important;
}
