.primary {
  @include grid(1,1);
}

.secondary {
  @include grid(1,1);
  background-color: white;

    .col__half{
      margin-top: 100px;

      @media only screen and (max-width:$small){
        margin-top: 40px;
      }

    }

}

.row{
  max-width: 1280px;
  margin: 0 auto;

    &:before{
    @include grid(1.001,12);
    content: " ";
    height: 1px;
    visibility: hidden;

      @media only screen and (max-width:$small){
        display: none;
      }
    }
}

.main__column--push{
  @include push(1,3);
}

.main{
  @include grid(1,1);
  max-width: 1280px;
  width: 100%;
  background: $one;
  margin: 0 auto;
}

.col__half{
  @include grid(5,12);
  margin: 0;
    @media only screen and (max-width:$small){
        width: 83%;
        margin-left: 8%;
    }

      &.last{
        @media only screen and (max-width:$small){
          margin-top: 0;
        }   
    }
}
