.answer-screen{
	width:200%;
}

.top-container{
	display: table;
	height: 100%;
	width: 100%;
}

.button-container{
	width: 100%;
	height: 100%;
	background-color: #24a04f;

	&.freeze{
		pointer-events: none;
	}
}
