.answer-screen{
	width:200%;
}

.top-container{

	-webkit-transform-style: preserve-3d;

		&.open{
		    -webkit-animation: menuOpen 0.5s 0 1 cubic-bezier(.52,-0.38,.57,1.05) ;
			-webkit-animation-fill-mode: forwards;
		}

		&.close{
			-webkit-animation: menuClose 0.5s 0 1 cubic-bezier(.52,-0.38,.57,1.05) ;
			-webkit-animation-fill-mode: forwards;
		}
}


@-webkit-keyframes menuOpen {
	0%   { -webkit-transform: translateX(0)}
	100% { -webkit-transform: translateX(-85%)}
}

@-webkit-keyframes menuClose {
	0%   { -webkit-transform: translateX(-85%)}
	100% { -webkit-transform: translateX(0)}
}

